html{
  scroll-behavior: smooth;
  /*Allows proper smooth navigation when clicking on navigation bar to page*/
}
body{
  margin: 0;
  padding: 0; 
  font-family: 'Montserrat', sans-serif;
}

label{
  font-size: 1.7em;
  line-height: 2.3em;
  display:none;
}

#toggle{
  display: none;
}

nav{
  width: 100%;
  background: #FFFFFF;
  overflow: hidden;
  /*prevents scrollbars from appearing*/
  position: fixed;
  top: 0;
  z-index: 1; /*Specifies stack order for elements - in this case nav bar has to be in front/on top of all elements on website https://www.w3schools.com/cssref/pr_pos_z-index.asp*/

}

ul{
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
}

li{
  float: left;
  /*Fix for alignment of nav bar: https://stackoverflow.com/questions/23737414/why-menu-created-with-ul-li-elements-displayed-in-reverse-order/23737545*/
}

a{
  padding: 20px;
  width: 100px;
  display: block;
  text-decoration: none;
  color: #060000;
  font-weight: bold;
  text-align: center;


}

.logo{
  margin-top: 10px;
  margin-left: 30px;
  height: auto;
  width: 100px;
}

#Home{  
  background-image: url('1st Image Home.png');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  /*vh or viewport height allows for responsive height when adjusting to mobile resolutions*/
  display: inline-block;
  background-repeat: no-repeat;
  width: 100%;
}


#Our_Impact{  
  height: 100vh;
  background: #F6F6F6;
  display: inline-block;
  width: 100%;
}

#Our_Impact_Title{
  height: 7vh;
  background: #FBECE1;
  text-align: center;
}

#Your_Impact{  
  height: 100vh;
  background: #90ee90;
  display: inline-block;
  width: 100%;

}
#Donate_Now{  
  height: 100vh;
  background: green;
  display: inline-block;
  width: 100%;

}

#Home_Text{
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-weight: bold;
  color: #060000;
  position: absolute;
  font-size: 2.5em;
  /*em allows for relative measurements/units for text allowing for responsiveness*/
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}

#Donate_Now_Text{
  color: #FFFFFF;
  font-weight: bold;
}

button{
  padding: 7px 8px;
  margin-top: -15px;
  background-color: rgba(46,196,182,1);
  border: none;
  font-family: Montserrat;
  border-radius: 50px;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

h1{
  margin: 70px;
  text-align: center;
  padding: 0;
}

#Images_Our_Impact{
}



@media screen and (min-width: 601px) {
    #Home_Text{
      font-size: 2.5em;
      opacity: 0.81;
    }

}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  #Home_Text {
    font-size: 1.375em;
    /*Done exactly/properly to pixel size from Adobe XD mockup - used px to em conversion from w2s to calculate this*/
    opacity: 0.81;
  }
  /*Code below is used for the responsive hamburger menu which comes in size when width is 600px wide or less */
  label{ 
      display: block;
      cursor: pointer;
      float: right;  /*Hamburger menu set to right side and cursor changed to pointer when hovered over*/
  }
  .menu{
      text-align: center;
      width: 100%;
      display: none; 
  }

  .menu a{
      clear: right;
      display: block;
  }
  #toggle:checked + .menu{
      display: block;
  }
}

